.formModal {
  height: auto;
  width: 500px;
  padding: 20px;
  border-radius: 15px;

}

button.button {
  width: 190px;
  height: 50px;
  color: white;
  background-color: #ff385c;
  margin-top: 15px;
  border-radius: 15px;
  display: block
}

.inputField {
  display: block;
  margin: 5px;
}
