.formModal {
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
}

button.button {
  width: 120px;
  height: 30px;
  color: white;
  background-color:blueviolet;
  margin-top: 15px;
  border-radius: 15px;
  display: block
}

.inputField {
  display: block;
  margin: 5px;
  width: 250px
}
