.formModal {
  height: auto;
  width: 500px;
  padding: 25px;
  overflow-y: scroll;
}

.button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #ff385c;
  margin-top: 15px;
}

.inputField {
  display: block;
  margin: 10px;
}
