.formModal {
  width: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 120px;
  height: 30px;
  color: white;
  background-color:black;
  margin-top: 15px;
  border-radius: 15px;
  display: block
}

.inputField {
  display: block;
  margin: 5px;
  width: 350px;
  height: 25px;
  border-radius: 10px;
}
