.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mulholland-drive-california-1585669652.jpg?crop=0.9936530324400564xw:1xh;center,top&resize=1500:*) no-repeat;
}
.makes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 1vh;
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.types{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.footer{
  /* position:fixed;
  bottom: 0px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5vh;
  /* border-top: 1px solid lightgray; */

}
.carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

