button {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50px;
  margin: 0px 5px 0px 5px;
  color: white;
}
button:hover{
  /* box-shadow: 0px 2px 10px rgb(89 60 251); */
}
