.carousel-card-container{
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 0px 2px 2px;
  background-color: white;
}
.carousel-card-image img{
  height: 150px;
  width: 100%;
}
.carousel-card-title{
  display: flex;
  justify-content: center;
}
.carousel{
  align-items: center;
}
