/* TODO Add site wide styles */
.active{
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
button{
  cursor: pointer;
}
button:hover{
  box-shadow: 0px 2px 10px gray;
}
li{
  list-style-type: none;
}

div{
font-family: Montserrat;
}
