.container{
  background: url(https://s.inyourpocket.com/img/text/romania/bucharest/transfagarasan-highway-in-romania-c-andrei-seritan.jpg) repeat-x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;

}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
.page-contents{
  padding-top: 20px;
  height: 100%;
  color: white;
}
.page-contents :hover{
  color: red;
}
.top{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.splash-footer{
  /* position:fixed;
  bottom: 0px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2vh;
  color: white;
  /* border-top: 1px solid lightgray; */
}
