.container{
  background: url(https://s.inyourpocket.com/img/text/romania/bucharest/transfagarasan-highway-in-romania-c-andrei-seritan.jpg) fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background-position: center;
  background-size: cover;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  height: 100vh;
}
.page-contents{
  padding-top: 5px;
  height: 50vh;
  color: rgb(89 60 251);
  font-size: 23px;
}
.page-contents :hover{
  background-color: rgb(89 60 251);
  color: black;
}
.top{
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}
.splash-footer{
  position:fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  color: white;
  height: 10vh;
}
