
.container{
  background: url(https://s.inyourpocket.com/img/text/romania/bucharest/transfagarasan-highway-in-romania-c-andrei-seritan.jpg) repeat-x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160vh;
  width: 100%;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: red;
}
.page-contents{
  padding-top: 20px;
  height: 100%;
  color:red;
}
.page-contents :hover{
  color: red;
}
.top{
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 2vh;
  border-top: 1px solid lightgray;
}
