.reviewcard{
  /* border-color: black;
  border-style: solid; */
  border-radius: 10px;
  /* border-width: 1px; */
  border: .5px solid black;
  height: 255px;
  width: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.reviewinfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /* justify-items: flex-start; */
  align-content: flex-start;
  align-items: flex-start;
  font-size: medium;
  max-height: 255px;
  max-width: 630px;
  margin-left: 5px;
  margin-top: 4px;
  overflow-wrap: break-word;
}
.top-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
.bottom-line{
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  /* padding-bottom: 2px; */
}
.middle-line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.delete{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}
