.reviewcard{
  border-color: lightgray;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  height: 220px;
  width: 500px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: wrap;
}
.reviewinfo{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  justify-items: flex-start;
  /* align-content: flex-start; */
  align-items: flex-start;
  font-size: medium;
  max-height: 220px;
  max-width: 480px;
  margin-left: 5px;
  margin-top: 4px;
  overflow-wrap: break-word;
}
.top-line{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
.bottom-line{
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
  /* padding-bottom: 2px; */
}

.delete{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}
